* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #0a0a14;
}

body {
  margin: 0;
  font-family: 'Crimson Text', 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a0a14;
  color: white;
}

code {
  font-family: 'Share Tech Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
